<div class="contact-request-container">
  <div class="row">
    <div class="col-md-9 col-md-offset-1 email-header-container">
      <h1 class="header">Contact Request Form</h1>
      <h4 class="header"><span class="green">To:</span> <%= @recipient_user.name %></h4>
      <h4 class="header"><span class="green">From:</span> <%= current_user.name %></h4>
    </div>
    <div class="col-md-12 email-form-container">
    <%= form_for (@contact_request), url: user_contact_requests_path, html: { class: "form-horizontal" } do |f| %>
      <div class="form-group">
        <%= f.label :title, class: "col-md-2 control-label header green" %>
        <div class="col-md-5">
          <%= f.text_field :title, required: true, class: "form-control" %>
        </div>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :description, class: "col-md-2 control-label header green" %>
        <div class="col-md-5">
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>
      <br>
      <div class="col-md-5 col-md-offset-1">
        <%= f.submit 'submit', class: 'btn btn-default email-submit-btn' %>
      </div>
    <% end %>
  </div>
</div>
