<h1> contact request page </h1>
<h1> contact request page </h1>

<%= form_for (@contact_request), url: user_contact_requests_path, html: { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "col-md-2 control-label header" %>
    <div class="col-md-5">
      <%= f.text_field :title, required: true, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :description, class: "col-md-2 control-label header" %>
    <div class="col-md-5">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="col-md-5">
    <%= f.submit 'submit', class: 'btn btn-default' %>
  </div>
<% end %>
