<%= form_for (zone), html: { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :address, class: "col-md-2 control-label header" %>
    <div class="col-md-9">
      <%= f.text_field :address, required: true, class: "form-control" %>
      <p>Preferably work address.</p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :tagline, class: "col-md-2 control-label header" %>
    <div class="col-md-9">
      <%= f.text_field :tagline, class: "form-control" %>
      <p>Yourself in a few words.</p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :twitter, class: "col-md-2 control-label header" %>
    <div class="col-md-9">
      <%= f.text_field :twitter, class: "form-control", placeholder: '@example' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :github, class: "col-md-2 control-label header" %>
    <div class="col-md-9">
      <%= f.text_field :github, class: "form-control", placeholder: 'http://github.com/username' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :company_name, class: "col-md-2 control-label header" %>
    <div class="col-md-9">
      <%= f.text_field :company_name, class: "form-control" %>
      <p>*If present launcher or not currently employed, please use Launch Academy.</p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cohort, class: "col-md-2 control-label header" %>
    <div class="col-md-9 dropdown">
      <%= f.select :cohort, [['Experience Engineer'], ['Winter 2013'], ['Spring 2014'], ['Summer 2014'], ['Fall 2014', 'Winter 2014']],
        class: "dropdown" %>
    </div>
  </div>

  <p>zētō helps launchers connect with one another primarily through email and is most effective when all launchers provide their emails. However, if you wish to not be contacted but still use zētō's services, please uncheck the box below.</p>
  <div class="form-group">
    <%= f.label 'Confirmation', class: "col-md-2 control-label header" %>
    <div class="col-md-1">
      <%= f.check_box :confirmation, class: "form-control" %>
    </div>
  </div>

  <div class="modal-footer">
    <%= f.submit 'submit', class: 'btn btn-default' %>
<% end %>
    <%= link_to 'delete account', current_user, method: :delete, class: 'delete-link' %>
  </div>
