<%= form_for (zone), html: { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :address, class: "col-md-2 control-label header" %>
    <div class="col-md-5">
      <%= f.text_field :address, required: true, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :cohort, class: "col-md-2 control-label header" %>
    <div class="col-md-5">
      <%= f.text_field :cohort, placeholder: "Summer 2014", class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :company_name, class: "col-md-2 control-label header" %>
    <div class="col-md-5">
      <%= f.text_field :company_name, class: "form-control" %>
      <p>*If present launcher or not currently employed, please use Launch Academy.</p>
    </div>
  </div>
  <br>
  <p>zētō helps launchers connect with one another via email and is most effective when all launchers provide their emails so that they may be contacted. Please check the confirmation checkbox below if you wish to share your email and support the launcher community.</p>
  <div class="form-group">
    <%= f.label 'Confirmation', class: "col-md-2 control-label header" %>
    <div class="col-md-1">
      <%= f.check_box :confirmation, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="modal-footer">
    <%= f.submit 'submit', class: 'btn btn-default' %>
  </div>
<% end %>
