<ol id="posts" class="list-group">
  <% @posts.each do |post| %>
  <li class="list-group-item post-info">
    <div class="row">
      <div class="col-xs-10 post-title-container">
        <a href="#">
          <span id="postname"><%= post.title %></span>
        </a>
      </div>
      <div class="col-xs-1 post-delete-container">
        <% if post.user_id == current_user.id %>
          <%= link_to 'delete', post, method: :delete, class: 'delete-link' %>
        <% end %>
      </div>
      <div class="col-xs-12 post-author-container">
        <%= post.author.name %>
      </div>
      <div class="col-xs-12 post-date-container">
        <% if post.role == "Event Post" %>
          Created On: <%= post.created_at.strftime("%m/%d/%Y") %>
          <br>
          Event Date: <%= post.date %>
        <% else %>
          Created On: <%= post.created_at.strftime("%m/%d/%Y") %>
        <% end %>
      </div>
    </div>
  </li>
  <% end %>
</ol>
