<ol id="posts" class="list-group">
  <% @posts.each do |post| %>
  <li class="list-group-item post-info">
    <div class="row">
      <div class="col-xs-9 post-title-container">
        <a href="#">
          <span id="postname"><%= post.title %></span>
        </a>
      </div>
      <div class="col-xs-1">
        <% if post.author != current_user %>
          <% if post.role == "Event" && !post.users.include?(current_user) %>
            <%= form_for [post, @member] do |f| %>
              <% f.submit 'Join', class: 'btn btn-default post-join-btn' %>
            <% end %>
          <% elsif post.role == "Event" && post.users.include?(current_user) %>
            <%= button_to 'Leave', [post, @current_member], method: :delete, class: 'btn btn-default post-join-btn' %>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-12 post-author-container">
        <%= post.author.name %>
      </div>
      <div class="col-xs-12 post-date-container">
        <% if post.role == "Event" %>
          Created On: <%= post.created_at.strftime("%m/%d/%Y") %>
          <br>
          Event Date: <%= post.date %>
        <% else %>
          Created On: <%= post.created_at.strftime("%m/%d/%Y") %>
        <% end %>
      </div>
    </div>
  </li>
  <% end %>
</ol>
