<div class="index-container row">
  <div id="map" class="col-md-12 dark">
  </div>
  <div class="launch-info-container">
    <div class="launch-info col-md-4">
      <div class="launch-info-header col-md-12">
        <span class="site-name">zētō</span>
      </div>

      <div class="launch-info-search input-group col-md-12">
        <%= form_tag users_path, :method => 'get' do %>
          <div class="col-md-12">
            <%= text_field_tag :search, params[:search], id: 'search-field', class: "col-md-12", placeholder: 'city, state' %>
          </div>
        <% end %>
      </div>

      <div class="launch-info-options col-md-12">
        <table class="table">
          <tr>
            <td><a href="#editModal" role="button" data-toggle="modal" rel="tooltip" data-original-title='Hello'>Edit</a></td>
          </tr>
        </table>
      </div>

      <div class="col-md-12" id="sort-columns">
        <table class="table">
          <tr>
            <td>Sort By</td>
            <td><%= sortable 'name' %></td>
            <td><%= sortable 'cohort' %></td>
          </tr>
        </table>
      </div>

      <div id="flash-message" class="launch-info-alert col-md-12">
        <% if flash.any? %>
          <%= flash[:notice] %>
        <% end %>
      </div>

      <div class="launch-info-users col-md-12">
        <ol class="list-group">
          <% @users.each do |user| %>
            <li class="user-info list-group-item col-md-12">
              <div>
                <p>
                  <img src="<%= user.image %>" class="img-circle avatar" alt="Responsive image">
                  <span><%= user.name %></span>
                  <%= user.cohort %>
                  <% if user.confirmation %>
                    <%= link_to new_user_contact_request_path(user), class: 'email-link' do %>
                      <%= image_tag('email.png', class: 'email-image') %>
                    <% end %>
                  <% end %>
                </p>
              </div>
            </li>
          <% end %>
        </ol>
      </div>
      <div class="credits-container col-md-12">
        <p class="credits">Lawrence Chang production</p>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="editModalLabel">User Information</h4>
        </div>
        <div class="modal-body">
          <%= render partial: "form", locals: {zone: @user} %>
        </div>
      </div>
    </div>
  </div>
</div>
