<div class="index-container row">
  <div class="collapse-trigger-container col-md-offset-11">
    <button type="button" class="btn" id="collapse-trigger" data-toggle="collapse" data-target="#launchers" data-text-swap="expand">
      collapse
    </button>
  </div>
  <div id="map" class="col-md-12 dark">
  </div>
  <div class="launch-info-container col-md-4 collapse in" id="launchers">
    <div class="launch-info-header col-md-12">
      <span class="site-name">zētō</span>
    </div>

    <div class="launch-info-search input-group col-md-12">
      <%= form_tag users_path, :method => 'get' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="col-md-12">
          <%= text_field_tag :search, params[:search], id: 'search-field', class: "col-md-12", placeholder: 'city, state' %>
        </div>
      <% end %>
    </div>

    <div class="launch-info-options col-md-12">
      <table class="table">
        <tr>
          <td><a href="#editModal" role="button" data-toggle="modal" rel="tooltip">Edit</a></td>
        </tr>
      </table>
    </div>

    <div class="col-md-12" id="sort-columns">
      <table class="table">
        <tr>
          <td>Sort By</td>
          <td><%= sortable('name') %></td>
          <td><%= sortable('cohort') %></td>
        </tr>
      </table>
    </div>

    <div id="flash-message" class="launch-info-alert col-md-12">
      <% if flash.any? %>
        <%= flash[:notice] %>
      <% end %>
    </div>

    <div class="launch-info-users col-md-12">
      <ol class="list-group">
        <% @users.each do |user| %>
          <li class="user-info list-group-item col-md-12">
            <div class="col-md-10">
              <img src="<%= user.image %>" class="img-circle avatar" alt="Responsive image">
              <a href="#">
                <span><%= user.name %></span>
              </a>
            </div>
            <div class="col-md-1">
              <% if user.confirmation %>
                <%= link_to new_user_contact_request_path(user), class: 'email-link' do %>
                  <%= image_tag('email.png', class: 'email-image') %>
                <% end %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="credits-container col-md-12" >
      <p class="credits">Lawrence Chang production</p>
    </div>
  </div>

  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="editModalLabel">User Information</h4>
        </div>
        <div class="modal-body">
          <%= render partial: "form", locals: {zone: @user} %>
        </div>
      </div>
    </div>
  </div>

  <% @users.each do |user| %>
  <div class="modal fade" id="showModal<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="showModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="showModalLabel"><%= user.name %></h4>
        </div>
        <div class="modal-body user-details-container">
          <%= image_tag(user.image, class: "img-circle portrait") %>
          <p>
            <%= user.twitter %>
            <% if user.twitter.present? %> | <% end %>
            <% if user.github.present? %>
              <a href="<%= user.github %>">github</a> |
            <% end %>
            <% if user.confirmation %>
              <%= link_to new_user_contact_request_path(user), class: 'email-link' do %>
                <%= image_tag('email.png', class: 'email-image') %>
              <% end %>
            <% end %>
          </p>
          <table class="table">
            <% if user.tagline.present? %>
              <tr>
                <td><%= user.tagline %></td>
              </tr>
            <% end %>
            <tr>
              <td><%= image_tag('marker.png', class: 'user-show-marker') %> <%= user.address %></td>
            </tr>
            <tr>
              <td><%= user.cohort %></td>
            </tr>
            <% if user.company_name.present? %>
              <tr>
                <td><%= user.company_name %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
