<%= form_for (zone), html: { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "col-md-2 control-label header" %>
    <div class="col-md-9">
      <%= f.text_field :title, required: true, class: "form-control" %>
    </div>
  </div>
  <br>

  <div class="form-group">
    <%= f.label :description, class: "col-md-2 control-label header" %>
    <div class="col-md-9">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <br>


  <div class="form-group">
    <%= f.label :address, class: "col-md-2 control-label header" %>
    <div class="col-md-9">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
  <br>

<!-- UNDER CONSTRUCTION -->

  <div class="form-group">
    <%= f.label :date, class: "col-md-2 control-label header" %>
    <div class="col-md-2">
      <%= f.text_field :date, class: "form-control input-group date" %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :time, class: "col-md-2 control-label header" %>
    <div class="col-md-2 input-append bootstrap-timepicker">
      <%= f.text_field :time, class: "form-control timepicker input-small" %>
    </div>
  </div>
  <!-- need to include date and time of event -->

<!-- UNDER CONSTRUCTION -->

  <div class="form-group">
    <%= f.label :role, class: "col-md-2 control-label header" %>
    <div class="col-md-9 dropdown">
      <%= f.select :role, [['Job Lead'], ['Event Post']], class: "dropdown" %>
    </div>
  </div>
  <br>

  <div class="col-md-5">
    <%= f.submit 'submit', class: 'btn btn-default' %>
  </div>

<% end %>
