<div class="col-md-12 all-posts-container">
  <div class="row">
    <div class="col-md-4">
      <table class="table post-index-navbar">
        <tr>
          <td><%= link_to 'Create New Post', new_post_path %></td>
        </tr>
        <tr>
          <td><a href="#" class="all-posts-btn">All Posts</a></td>
        </tr>
        <tr>
          <td><a href="#" class="my-posts-btn">My Posts</a></td>
        </tr>
        <tr>
          <td><a href="#" class="events-attending-btn">Events Attending</a></td>
        </tr>
      </table>
    </div>
    <div class="col-md-12 all-posts-container">
      <table class="table all-posts-table">
        <tr>
          <td><%= sort_posts("created_at", "Created On")  %></td>
          <td><%= sort_posts("updated_at", "Last Updated On") %></td>
          <td><%= sort_posts("title", "Post Title")%></td>
          <td><%= sort_posts("role", "Post Type")%></td>
          <td>Post Author</td>
        </tr>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= post.updated_at.strftime("%m/%d/%Y") %></td>
          <td><%= link_to post.title, post_path(post) %></td>
          <td><%= post.role %></td>
          <td><%= post.author.name %></td>
        </tr>
      <% end %>
      </table>
    </div>
    <div class="col-md-12 my-posts-container">
      <table class="table my-posts-table">
        <tr>
          <td><span class="black">Created On</span></td>
          <td><span class="black">Last Updated On</span></td>
          <td><span class="black">Post Title</span></td>
          <td><span class="black">Post Type</span></td>
          <td><span class="black">Post Author</span></td>
        </tr>
      <% @my_posts.each do |post| %>
        <tr>
          <td><%= post.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= post.updated_at.strftime("%m/%d/%Y") %></td>
          <td><%= link_to post.title, post_path(post) %></td>
          <td><%= post.role %></td>
          <td><%= post.author.name %></td>
        </tr>
      <% end %>
      </table>
    </div>
    <div class="col-md-12 events-attending-container">
      <table class="table events-attending-table">
        <tr>
          <td><span class="black">Created On</span></td>
          <td><span class="black">Last Updated On</span></td>
          <td><span class="black">Post Title</span></td>
          <td><span class="black">Post Type</span></td>
          <td><span class="black">Post Author</span></td>
        </tr>
      <% @events_attending.each do |event| %>
        <tr>
          <td><%= event.post.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= event.post.updated_at.strftime("%m/%d/%Y") %></td>
          <td><%= link_to event.post.title, post_path(event.post) %></td>
          <td><%= event.post.role %></td>
          <td><%= event.post.author.name %></td>
        </tr>
      <% end %>
      </table>
    </div>
    <div class="col-md-12 pagination">
      <%= paginate @posts %>
    </div>
  </div>
</div>
