<div class="col-md-12 post-show-container">
  <div class="row">
    <div class="col-md-2 col-md-offset-1 post-show-options-navbar-container">
      <% if @post.author == current_user %>
        <table class="table post-show-options-navbar">
          <tr>
            <td><%= link_to 'Edit', edit_post_path(@post), class: 'post-edit-btn' %></td>
          </tr>
          <tr>
            <td><%= link_to 'Delete', @post, method: :delete, class: 'post-delete-btn' %></td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class="col-md-1 col-md-offset-8">
      <table class="table">
        <% if @post.role == "Event" && !@post.users.include?(current_user) %>
          <tr>
            <td><%= button_to 'Join', [@post, @member], class: 'post-join-btn' %></td>
          </tr>
        <% elsif @post.role == "Event" && @post.users.include?(current_user) %>
          <tr>
            <td><%= button_to 'Leave', [@post, @current_member], method: :delete, class: ' btn btn-default post-join-btn' %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <div class="row">
      <div class="col-md-12 post-author-detail-container">
        <table class="table show-post-table">
          <tr>
            <td class="green"><%= @post.author.name %></td>
          </tr>
          <tr>
            <td>
              <%= image_tag(@post.author.image, class: "img-circle portrait") %>
              <p>
                <%= @post.author.twitter %>
                <% if @post.author.twitter.present? %> | <% end %>
                <% if @post.author.github.present? %>
                  <a href="<%= @post.author.github %>" target="_blank">github</a> |
                <% end %>
                <% if @post.author.linkedin.present? %>
                  <a href="<%= @post.author.linkedin %>" target="_blank">linkedin</a> |
                <% end %>
                <% if @post.author.confirmation %>
                  <%= link_to new_user_contact_request_path(@post.author), class: 'email-link' do %>
                    <%= image_tag('email.png', class: 'email-image') %>
                  <% end %>
                <% end %>
              </p>
            </td>
          </tr>
        </table>
      </div>
      <div id="flash-message" class="col-md-12 post-show-flash-container">
        <% if flash.any? %>
          <%= flash[:notice] %>
        <% end %>
      </div>
    </div>
    <div class="row post-details-container">
      <div class="col-md-12">
        <table class="table show-post-table">
          <tr>
            <td class="green">Details</td>
          </tr>
        </table>
        <table class="table">
          <tr>
            <% if @post.role == "Event" %>
              <td><%= image_tag('calender.png', class: 'calender-image') %></td>
              <td><%= @post.date%></td>
            <% else %>
              <td class="green">Created On</td>
              <td><%= @post.created_at.strftime("%m/%d/%Y") %></td>
            <% end %>
          </tr>
          <% if @post.role == "Event" %>
            <tr>
              <td><%= image_tag('time.png', class: 'time-image') %></td>
              <td><%= @post.time.strftime("%l:%M %p") %> EST</td>
            </tr>
          <% end %>
          <tr>
            <td><%= image_tag('marker.png', class: 'user-show-marker') %></td>
            <td><%= @post.address %></td>
          </tr>
          <tr>
            <td class="green">Post Type</td>
            <td><%= @post.role %></td>
          </tr>
          <tr>
            <td class="green">Last Updated On</td>
            <td><%= @post.updated_at.strftime("%m/%d/%Y") %></td>
          </tr>
          <% if @post.role == "Event" %>
            <tr>
              <td class="green">Members</td>
              <td><%= @members.count %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <div class="row">
      <div class="col-md-12 post-title-description-container">
        <table class="table show-post-table">
          <tr>
            <td><%= @post.title %></td>
          </tr>
          <tr>
            <td><%= @post.description %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12 back-link-container">
    <%= link_to 'Back', posts_path, class: "back-link" %>
  </div>
</div>
