<div class="col-md-12 post-show-container">
  <div class="row">
    <div class="col-md-3">
      <% if @post.author == current_user %>
        <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-default post-edit-btn' %>
        <%= link_to 'Delete', @post, method: :delete, class: 'btn btn-default post-delete-btn' %>
      <% end %>
    </div>
    <div class="col-md-1 col-md-offset-11 post-event-join-container">
      <% if @post.author != current_user %>
        <% if @post.role == "Event" && !@post.users.include?(current_user) %>
          <%= form_for [@post, @member] do |f| %>
            <% f.submit 'Join', class: 'btn btn-default post-join-btn' %>
          <% end %>
        <% elsif @post.role == "Event" && @post.users.include?(current_user) %>
          <%= button_to 'Leave', [@post, @current_member], method: :delete, class: 'btn btn-default post-join-btn' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12 post-author-detail-container">
        <table class="table show-post-table">
          <tr>
            <td class="green"><%= @post.author.name %></td>
          </tr>
          <tr>
            <td>
              <%= image_tag(@post.author.image, class: "img-circle portrait") %>
            </td>
          </tr>
        </table>
      </div>
      <div id="flash-message" class="col-md-12 post-show-flash-container">
        <% if flash.any? %>
          <%= flash[:notice] %>
        <% end %>
      </div>
    </div>
    <div class="row post-details-container">
      <div class="col-md-12">
        <table class="table show-post-table">
          <tr>
            <td class="green">Details</td>
          </tr>
        </table>
        <table class="table">
          <tr>
            <% if @post.role == "Event" %>
              <td><%= image_tag('calender.png', class: 'calender-image') %></td>
              <td><%= @post.date%></td>
            <% else %>
              <td class="green">Created On</td>
              <td><%= @post.created_at.strftime("%m/%d/%Y") %></td>
            <% end %>
          </tr>

          <% if @post.role == "Event" %>
            <tr>
              <td><%= image_tag('time.png', class: 'time-image') %></td>
              <td><%= @post.time.strftime("%l:%M %p") %> EST</td>
            </tr>
          <% end %>

          <tr>
            <td><%= image_tag('marker.png', class: 'user-show-marker') %></td>
            <td><%= @post.address %></td>
          </tr>

          <tr>
            <td class="green">Post Type</td>
            <td><%= @post.role %></td>
          </tr>

          <tr>
            <td class="green">Last Updated On</td>
            <td><%= @post.updated_at.strftime("%m/%d/%Y") %></td>
          </tr>

          <% if @post.role == "Event" %>
            <tr>
              <td class="green">Members</td>
              <td><%= @members.count %></td>
            </tr>
          <% end %>

        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-1">
    <div class="row">
      <div class="col-md-12 post-title-description-container">
        <table class="table show-post-table">
          <tr>
            <td><%= @post.title %></td>
          </tr>
          <tr>
            <td><%= @post.description %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12 back-link-container">
    <%= link_to 'Back', posts_path, class: "back-link" %>
  </div>

</div>
