<%= form_for (zone), html: { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :address, class: "col-md-2 control-label header" %>
    <div class="col-md-9">
      <%= f.text_field :address, required: true, class: "form-control" %>
      Preferably work address.
    </div>
  </div>

  <div class="form-group">
    <%= f.label :tagline, class: "col-md-2 control-label header" %>
    <div class="col-md-9">
      <%= f.text_field :tagline, class: "form-control" %>
      Yourself in a few words.
    </div>
  </div>

  <div class="form-group">
    <%= f.label :twitter, class: "col-md-2 control-label header" %>
    <div class="col-md-9">
      <%= f.text_field :twitter, class: "form-control", placeholder: '@example' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :github, class: "col-md-2 control-label header" %>
    <div class="col-md-9">
      <%= f.text_field :github, class: "form-control", placeholder: 'http://github.com/username' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :company_name, class: "col-md-2 control-label header" %>
    <div class="col-md-9">
      <%= f.text_field :company_name, class: "form-control" %>
      *If present launcher or not currently employed, please use Launch Academy.
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cohort, class: "col-md-2 control-label header" %>
    <div class="col-md-9 dropdown">
      <%= f.select :cohort, User.cohort, class: "dropdown" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :secondary_email, class: "col-md-2 control-label header" %>
    <div class="col-md-9">
      <%= f.text_field :secondary_email, class: "form-control" %>
    </div>
  </div>

  <div class="col-md-5 col-md-offset-1">
    <%= f.submit 'submit', class: 'btn btn-default' %>
  </div>
<% end %>
