<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>zētō</h1>
    <p>Dear <%= @recipient.user.name %>,</p>
    <p>
      We want to inform you that <%= @sender.name %> has requested to connect with you. You can read <%= @sender.name%>&lsquo;s request below. If you wish to respond to <%= @sender.name %>&lsquo;s request, you can reach them at
      <% if @sender.secondary_email.present? %>
        <%= @sender.secondary_email %>.
      <% else %>
        <%= @sender.email %>.
      <% end %>
    </p>
    <br>
    <br>
    <h3>Request:</h3>
    <p>
      <%= @recipient.title %>
      <br>
      <br>
      <%= @recipient.description %>
    </p>
    <br>
    <br>
    <p>We here at zētō hope that a valuable network can be established.</p>
    <p>Have a great day!</p>
    <p>Best regards,</p>
    <p>zētō</p>
  </body>
</html>
