<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <title>zētō</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if current_user %>
            <%= link_to 'zētō', users_path, class: 'navbar-brand' %>
          <% else %>
            <%= link_to 'zētō', root_path, class: 'navbar-brand' %>
          <% end %>
        </div>
        <div class="collapse navbar-collapse">
          <% if current_user %>
            <p class="navbar-text navbar-right">
              <%= current_user.name %>
              <%= link_to "sign out", signout_path, id: "sign_out", class: 'login-link' %>
            </p>
          <% else %>
            <p class="navbar-text navbar-right"><%= link_to "sign in", "/auth/facebook", id: "sign_in", class: 'login-link' %></p>
          <% end %>
          <ul class="nav navbar-nav">
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
          <li><%= link_to 'Posts', posts_path %></li>
          </ul>
        </ul>
        </div>
      </div>
    </div>

    <div class="body-container row">
      <%= yield %>
    </div>
      <%= javascript_include_tag 'application' %>
  </body>
</html>
